{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sign Up</title>
        <link rel="stylesheet" href="{% static 'signup.css' %}">
        <style>
            .section{
                height:105%;
            }
        </style>
    </head>
    
    <body>
        <form method="POST" action="{% url 'signup' %}">
            {% csrf_token %}
            <div class="container">
                <div class="section">
                    <div class="section3">
                        <h2 class="mb-4">Sign Up</h2>
                        <div class="form-group">
                            <input type="text" name="username" class="form-style" placeholder="Enter Username" autocomplete="off" required>
                        </div>
                        <div class="form-group">
                            <input type="email" name="email" class="form-style" placeholder="Your Email" autocomplete="off" required>
                        </div>
                        <div class="form-group">
                            <input type="password" name="password1" class="form-style" placeholder="Your Password" autocomplete="off" required>
                        </div>
                        <div class="form-group">
                            <input type="password" name="password2" class="form-style" placeholder="Confirm Password" autocomplete="off" required>
                            
                        </div>
                        {% for message in messages %}
                        <p style="color: red;">{{ message }}</p>
                        {% endfor %}
                        <button type="Submit" class="btn mt-4">Submit</button>
                    <p class="mb-0 mt-4 text-center"><a href="{% url 'login' %}" class="link">Already have an account? Log In</a></p>
                </div>
            </div>
        </div>
    </body>
</form>
    
    </html>
    